* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Helvetica Neue";
  font-size: 16px;
}

body {
  background-color: #ffbe61;
}

.dragly-logo {
  display: inline-block;

  svg path {
    fill: white;
  }
}

body > div {
  > header {
    z-index: 9999;
    height: 81px;
    background: rgba(#201520, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    h1 a {
      text-decoration: none;
    }

    h1 {
      margin-top: 11px;
      margin-left: 40px;
    }
  }

  > main {
    margin-top: 81px;
  }

  > footer {
    display: none;
  }
}
