section.sort-cards, section.sort-list {
  header {
    z-index: 9999;
    position: fixed;
    top: 81px;
    left: 0;
    right: 0;
    width: 100%;
    height: 68px;
    background: #7a3287;
    text-align: center;

    label {
      display: inline-block;
      font-size: 22px;
      font-weight: 300;
      line-height: 64px;
      color: rgba(white, 0.9);
      cursor: pointer;

      input {
        position: relative;
        top: -3px;
        right: 3px;
      }
    }
  }

  main {
    z-index: 9998;
    position: relative;
    top: 81px;
  }
}

section.sort-cards {
  ol {
    list-style: none;
    display: inline-block;
    text-align: center;

    li {
      position: relative;
      text-align: left;
      display: inline-block;
      font-size: 0;
      margin: 14px;
      padding: 0;
      box-sizing: border-box;
      border: 2px solid transparent;

      span {
        font-size: 14px;
        position: absolute;
        line-height: 20px;
        bottom: 0;
        right: 43px;
        font-weight: 300;
        background: rgba(white, 0.7);
        width: 50%;
        text-align: center;
      }

      img {
        font-size: 0;
      }

      &.draggable {
        cursor: move;

        img {
          opacity: 0.7;
        }
      }

      &.being-dragged {
        img { opacity: 1; }
      }

      &.having-encounter {
        background: #ff960e;
        border-color: #ff960e;
      }
    }
  }
}

section.sort-list {
  margin: 0 auto;
  width: 300px;

  // main {
  //   width: 300px;
  // }

  ol {
    list-style: none;
  }

  li {
    height: 75px;
    font-size: 22px;
    background: #e7a443;
    margin: 14px 0;

    span {
      position: relative;
      top: -30px;
      left: 14px;
    }

    img {
      width: 75px;
      height: 75px;
      font-size: 0;
      display: inline-block;
    }
  }
}
