<header>
  <h1>
    {{#link-to "index"}}
      {{dragly-logo width="122"}}
    {{/link-to}}
  </h1>
</header>

<main>
  {{outlet}}
</main>

<footer>
  &copy; {{unbound year}} DraglyCorp Holdings, LLC
</footer>
