<section class="index">
  <h1>
    DnDaaS by founders, for founders: <b>Disrupt.</b> <em>It&rsquo;s Simple.</em><span>&trade;</span>
  </h1>

  <nav>
    <ul>
      <li>
        {{#link-to "sort-cards"}}Arrange Cards{{/link-to}}
      </li>
      <li>
        {{#link-to "sort-list"}}Sort Vert List{{/link-to}}
      </li>
    </ul>
  </nav>
</section>
