<section class="index">
  <header>
    {{dragly-logo width="350"}}
  </header>
  <h1>
    DnDaaS by founders, for founders: <b>Disrupt order.</b><span>&trade;</span>
  </h1>
  <nav>
    <ul>
      <li>
        {{#link-to "sort-cards"}}Engage &amp; Pivot{{/link-to}}
      </li>
      <li>
        {{#link-to "sort-list"}}Position Verticals{{/link-to}}
      </li>
    </ul>
  </nav>
</section>
