<section>
  <h1>What drag game do you want to CRUSH!?</h1>
  <nav>
    <ul>
      <li>{{#link-to "tile-sort"}}Tile Sort{{/link-to}}</li>
      <li>{{#link-to "list-sort"}}List Sort{{/link-to}}</li>
      <li>{{#link-to "bucket-sort"}}Bucket Sort{{/link-to}}</li>
    </ul>
  </nav>
</section>
