<section class="sort-list">
  <header>
    <label>
      {{input type="checkbox" checked=canMove}} Allow Paradigm Shifting
    </label>
  </header>

  <main>
    {{#ui-dragzone swap="swapBebes"}}
      {{#each bebe in this enabled=canMove}}
        {{#ui-draggable model=bebe}}
          <img draggable="false" {{bind-attr src=bebe.url}}>
          <span>{{bebe.name}}</span>
        {{/ui-draggable}}
      {{/each}}
    {{/ui-dragzone}}
  </main>
</section>
