<section class="sort-cards">
  <header>
    <label>
      {{input type="checkbox" checked=canMove}} Enable Disruption
    </label>
  </header>

  <main>
    {{#ui-dragzone swap="swapBebes" enabled=canMove class="cards-list"}}
      {{#each bebe in this}}
        {{#ui-draggable model=bebe}}<img draggable="false" {{bind-attr src=bebe.url}} width="175" height="175"><span>{{bebe.name}}</span>{{/ui-draggable}}
      {{/each}}
    {{/ui-dragzone}}
  </main>
</section>
